      <div id="title">
        <br>
        <br>
        <hr>
        <span class="credits left">Github&nbsp;&nbsp;&nbsp;:&nbsp;<a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></span>
        <span class="credits right">Hosted on GitHub Pages — Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span>
        <br>
        <span class="credits left">Twitter&nbsp;&nbsp;:&nbsp;<a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a></span>
        <br>
        <span class="credits left">Email&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
        <br>
        <span class="credits left">Linkedin&nbsp;:&nbsp;<a href="{{site.linkedin_url}}">{{ site.linkedin_username }}</a></span>
      </div>
      <div>
      <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
      </div>
  </section>
</div>
